@model TheBedstand.Web.ViewModels.Genres.AllGenresViewModel
@using TheBedstand.Common
@{
    ViewData["Title"] = "All";
}

<div class="row">
    @foreach (var genre in Model.Genres)
    {
        <div class="col-md-3  py-2 px-2 d-flex align-items-stretch">
            <div class="card">
                <img class="card-img d-flex" src="@genre.ImageUrl" width="200" height="200" alt="Genre Image">
                <div class="card-body bg-light">
                    <h5 class="card-title">@genre.Name</h5>
                    <p>@genre.Description</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-light" href="/Books/GetByGenre?id=@genre.Id" role="button">See More</a>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <div class="d-inline-block">
                            <button class="btn btn-warning btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
